#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    color: #FAEDBF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Condensed';
    padding: 1rem;
    background-color: #0000001a;
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
}

#header h1 {
    font-size: 1.4rem;
    color: #FAEDBF;
    text-transform: uppercase;
    font-weight: 300;
}

#header h1 span {
    font-size: 1.4rem;
    font-weight: 500;
}

#header nav ul {
    display: flex;
    gap: 20px;
}

#header nav li {
    text-transform: capitalize;
    color: #FAEDBF;
    font-size: 16px;
    font-weight: 500;
}

/* header */

#section1 {
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/bg.jpg); */
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section1::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #00000041;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* backdrop-filter: blur(2px); */
}

#section1 .text {
    position: relative;
    width: 100%;
    z-index: 10000;
}

#section1 .t2 span {
    position: absolute;
    font-family: "Dynalight";
    font-size: 8vw;
    text-transform: lowercase;
    color: #5F2CC6;
    margin-left: -34px;

}

#section1 .text>div {
    height: 10vw;
    font-size: 12vw;
    line-height: 1;
    font-family: "Thunder";
    text-transform: uppercase;
    color: #FAEDBF;

}

#section1 .text .t1 {
    padding-left: 8vw;
}

#section1 .text .t2 {
    padding-left: 14vw;
}

#section1 .text .t3 img {
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    width: 20vw;
    height: 20vw;
    z-index: 10000;
}

#section1 .text .t4 {
    text-align: right;
    padding-right: 12vw;
}

#section1 .scroll {
    position: absolute;
    left: 10vw;
    bottom: 6vw;
    z-index: 10000;
}

#section1 .scroll p {
    display: block;
    color: #FAEDBF;
    width: 350px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

#section1 .scroll span {
    display: inline-block;
    background-color: #5F2CC6;
    color: #fff;
    padding: 0.7rem 3.3rem;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 16px;
}

#section1 .scroll span em {
    font-weight: 700;
    font-size: 16px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0
}

/* section1 */

#section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000;
}

#section2 .mv {
    color: #FAEDBF;
    margin-bottom: 6%;
    display: inline-block;
    font-size: 14px;
}

#section2 .art {
    color: #5F2CC6;
    font-family: "Thunder";
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 10%;
}

#section2 .itd {
    color: #FAEDBF;
    font-family: 'IropkeBatang';
    font-size: 1vw;
}

#section2 .itd p {
    margin-bottom: 5%;
}

/* section2 */

#section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(/assets/img/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

/* section3 */

#section4 {
    width: 100%;
    height: 100vh;
    background: transparent;
    /* 배경 투명도 */
}

.skill {
    margin: 25px 2px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 46px;
    gap: 12px;
}

.skill-left {
    flex-direction: row;
}

.skill-right {
    flex-direction: row-reverse;
}

.title3 {
    font-size: 100px;
    font-family: "Thunder";
    color: #FBF0C2;
    margin: 0
}

.desc {
    font-size: 14px;
    color: #FBF0C2;
    font-family: "IropkeBatangM";
    text-align: unset;
    width: 390px;
    overflow: hidden;
}

.percent {
    background-color: #741BD4;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: transform 0.3s;
    font-weight: bold;

}

/* section4 */


#section5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #000;
}

.image-container {
    display: flex;
}

.image-box {
    position: relative;
    flex: 0 0 50%;
    height: 100%;
}

.image-box img {
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

.overlay h2 {
    font-size: 2em;
    font-family: "Thunder";
    color: #FBF0C2;
}

.image-box:hover .overlay {
    opacity: 1;
}

.buttons button {
    margin: 5px;
    padding: 10px 22px;
    border: none;
    background-color: #751AD4;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #741ad4c3;
}

.buttons button a {
    text-decoration: underline;
    color: #000;

}

/* section5 */

#section6 {
    width: 100%;
    height: 110vh;
    padding: 20vw 0;
    background-color: #000;
}

.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

.team-member {
    text-align: center;
    transition: transform 0.3s;
    opacity: 0;
    transform: translateY(100px);
    margin: 0 10px;
}

.team-member:hover {
    transform: scale(1.1);
}

.team-member img {
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.team-member img:hover {
    filter: grayscale(0%);
}

.team-member h3 {
    margin-top: 10px;
    font-size: 3vw;
    font-family: "Thunder";
    color: #741BD4;
    text-transform: uppercase;
}

.team-p {
    font-size: 3vw;
    font-family: "Thunder";
    color: #741BD4;
    text-transform: uppercase;
    white-space: nowrap;
}

/* section6 */

#section7 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tfv {
    font-size: 12vw;
    color: #FAEDBF;
    font-family: "Thunder";
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
    overflow-y: hidden;
}

.links a {
    color: #741BD4;
    text-decoration: none;
    font-family: "Thunder";
    font-size: 3em;
    margin: 0 15px;
    transition: color 0.3s;
}

.follow {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: #FAEDBF;
}

.copyright {
    margin-top: 50px;
    font-size: 0.8em;
    color: gray;
}

/* section7 */